*{
   margin: 0;
   
   font-family: 'Poppins', sans-serif;
   
}
body{
    background-color: black;
}
.header{
  
  height: 100vh;
  width: 100%;
    background-image: url(https://images.pexels.com/photos/40751/running-runner-long-distance-fitness-40751.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    
  } 
nav{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 30px;
     
  }
  nav h1{
    font-size: 40px;

  }

  li {
    float: left;
    list-style: none;
  }

  li a, .logo a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 36px;
    text-decoration: none;
  }
  

  .logo {
    float: left;
   
  }

.button{
    margin: 20px;
    width: 80px;
    background-color: transparent;
    border-color: rgba(37, 103, 254, 0.37);
    cursor: pointer;

}
.text{
  margin: 9%;
}
.text p{
  font-size: 20px;
}
.text button{
  font-size: 35px;
  margin: 2%;
  height: 50px;
  background-color:transparent;
  border-color: rgba(37, 103, 254, 0.37);
  cursor: pointer;
 box-shadow:black;
}
/*blog page*/
.text h1{
  color: white;
  text-align: center;
}
.blog-img{
  width: 50%;
  position:absolute;
  align-items: center;
  
  margin-left: 350px;
}
