*{
   margin: 0;
   
   font-family: 'Poppins', sans-serif;
   
}
body{
    background-color: black;
    background-image: url(https://images.pexels.com/photos/416778/pexels-photo-416778.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
background-repeat: repeat;
}
 
.logo{
    width:75px ;
}

/* nav li{
    margin:10px 0 ;
    align-content: flex-start;
} */
 
div nav{
    display: flex;
    color: aliceblue;
    
}

div nav ul{
    display: flex;
    list-style: none;
    

}